/**
 * Variables
 */

// Theme colors
$color-light-mode-primary: #5D93FF;
$color-light-mode-secondary: #F7A046;
$color-light-mode-primary-text: #222;
$color-light-mode-secondary-text: #555;
$color-light-mode-primary-background: #FFF;
$color-light-mode-secondary-background: #DDD;
$color-light-mode-border: #888;
$color-light-mode-disabled: #AAA;

$color-dark-mode-primary: #5D93FF;
$color-dark-mode-secondary: #F7A046;
$color-dark-mode-primary-text: #FFF;
$color-dark-mode-secondary-text: #AAA;
$color-dark-mode-primary-background: #222;
$color-dark-mode-secondary-background: #444;
$color-dark-mode-border: #888;
$color-dark-mode-disabled: #555;

// Typographic
$typographic-font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
