/**
 * Variables
 */

// Colors
$color-light-mode-base: #222;
$color-light-mode-background: #FFF;
$color-light-mode-primary: #5D93FF;
$color-light-mode-secondary: #F7A046;

$color-dark-mode-base: #DDD;
$color-dark-mode-background: #222;
$color-dark-mode-primary: #5d93ff;
$color-dark-mode-secondary: #F7A046;

$body: #121212;
$surface: #1D1D1D;
$font: #D1D1D1;

$color-black: #000;
$color-white: #FFF;

$color-gray: lighten($color-black, 70%);
$color-gray-dark: lighten($color-black, 30%);
$color-gray-border: lighten($color-black, 77%);
$color-gray-bg: lighten($color-black, 79%);

// Typographic
$typographic-font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
