<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="UTF-8">
    <title>Unibeck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
    <!-- Google API Roboto font is included in the Angular Material Library-->
    
    <!-- Material Design icon font -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

    <link rel="stylesheet" href="css/aboutMe.css">
  </head>

  <body>
    <div ng-controller="AppCtrl as ctrl" layout="column" layout-fill md-theme="aboutMe"><!--theme declaration-->
      <md-toolbar style="background-color: #fff; color: #888">
        <div class="md-toolbar-tools">
          <span class="mdl-layout-title">Jonathan Beckman</span>
          <span flex></span>
          <div class="mdl-layout-spacer"></div>
          
          <a href="https://github.com/rajonbeckman">
            <md-icon md-svg-src="images/github.svg" class="social-button github"></md-icon>
          </a>
          <a href="https://www.linkedin.com/in/jonathantbeckman">
            <md-icon md-svg-src="images/linkedin.svg" class="social-button linkedin"></md-icon>
          </a>
          <a href="https://www.google.com/+JonathanBeckman9">
            <md-icon md-svg-src="images/google_plus.svg" class="social-button google-plus"></md-icon>
          </a>
        </div>
      </md-toolbar>
      <section layout="column" role="main" flex>
        <md-content flex style="background-color: #EEEEEE">
          <div style="position: relative">
            <div ng-cloak class="md-display-2 side-margin aboutme-title" style="margin-top: 32px">{{section.aboutme.title}}</div>
            <div ng-cloak class="md-headline side-margin aboutme-title">{{section.aboutme.text}}</div>
            <div class="side-margin" layout="column" layout-gt-sm="row" style="margin-top: 32px;  padding-bottom: 16px">
              
              <!-- Column 1 (Left and Middle) -->
              <div flex="100" flex-gt-sm="66">
                <div>
                  <div class="hobbyTile">
                    <div id="hobbyPic" class="tile-size">
                        <img id="tilePicGif" src="images/motorcycle_frame.jpg">
                    </div>
                    <md-progress-linear ng-show="gifIsLoading === true" md-mode="indeterminate" class="hobbyTileLoader"></md-progress-linear>
                    <md-button class="md-icon-button hobbyTileButton" style="right: 64px" ng-click="resetGif()">
                      <md-icon style="color: #fff;">replay</md-icon>
                    </md-button>  
                    <md-button class="md-icon-button hobbyTileButton" href="">
                      <md-icon style="color: #fff;">photo_album</md-icon>
                    </md-button>
                    <div class="hobbyPicText">
                      <div class="md-display-1" id="hobbyPicTitle">Riding</div>
                      <div id="hobbyPicBody">Cool, crisp air flows around your face as every hue of green flickers past. A 100hp engine block sits between your legs that howls at you to let her breath. Experiencing a road, rather than traveling on one, is the most exceptional feeling - that is what I love most about riding.</div>
                    </div>
                  </div>
                </div>
                <div ng-repeat="aboutMeCard in aboutMeCards">
                  <div class="hobbyTile">
                    <div id="hobbyPic" class="tile-size">
                        <img ng-cloak class="tilePic" ng-src="{{aboutMeCard.img}}">
                    </div>
                    <md-button ng-cloak class="md-icon-button hobbyTileButton" ng-href="{{aboutMeCard.link}}">
                      <md-icon style="color: #fff;">photo_album</md-icon>
                    </md-button>
                    <div class="hobbyPicText">
                      <div ng-cloak class="md-display-1" id="hobbyPicTitle">{{aboutMeCard.title}}</div>
                      <div ng-cloak id="hobbyPicBody">{{aboutMeCard.body}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Column 2 (Right) -->
              <div style="margin: 16px" flex="100" flex-gt-sm="33">
                <!-- Contact Info Section -->
                <div md-whiteframe="2">
                  <div class="cardPic">
                    <img class="tilePic" src="images/profile.jpg">
                    <div class="md-display-1 hobbyPicText">Contact Info</div>
                  </div>
                  <div style="padding: 16px; background-color: #fff;">
                    <div ng-repeat="info in aboutMeInformation">
                      <div class="list-item" layout="row">
                        <md-icon class="list-item-icon" style="color: #1976D2 !important;">{{info.icon}}</md-icon>
                        <h1 class="md-subhead list-item-text">{{info.title}}</h1>
                      </div>
                      <md-divider ng-if="!$last"></md-divider>
                    </div>
                  </div>
                </div>

                <!-- Skills Section -->
                <div md-whiteframe="2" style="margin-top: 32px;">
                  <div class="md-display-1 skillsTitle">Skills</div>
                  <!-- Use to make SVG donuts from D3
                  <div style="background-color: #fff;>
                    <div class="skills" layout="column" layout-align="space-around center">
                      <div class="md-headline donutNum">rank</div>
                      <svg class="donuts" id="donut1"></svg>
                      <div class="md-headline" style="padding-bottom: 16px">title</div>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                  </div>
                  -->
                  <div style="background-color: #fff;">
                    <div class="skills" layout="column" layout-align="space-around center">
                      <div class="md-headline donutNum">9</div>
                      <svg class="donuts" width="200" height="100" viewBox="0, 0, 232, 116"><g transform="translate(116,116)"><g class="slice"><path fill="#FFC107" d="M95.10565162951535,-30.901699437494738A100,100 0 0,1 100,0L50,0A50,50 0 0,0 47.552825814757675,-15.450849718747369Z"></path></g><g class="slice"><path fill="#2196F3" d="M-100,-1.2246467991473532e-14A100,100 0 0,1 95.10565162951535,-30.901699437494738L47.552825814757675,-15.450849718747369A50,50 0 0,0 -50,-6.123233995736766e-15Z"></path></g></g></svg>
                      <div class="md-headline" style="padding-bottom: 16px">Java</div>
                    </div>
                    <md-divider></md-divider>
                    <div class="skills" layout="column" layout-align="space-around center">
                      <div class="md-headline donutNum">8</div>
                      <svg class="donuts" width="200" height="100" viewBox="0, 0, 232, 116"><g transform="translate(116,116)"><g class="slice"><path fill="#FFC107" d="M80.90169943749474,-58.778525229247315A100,100 0 0,1 100,0L50,0A50,50 0 0,0 40.45084971874737,-29.389262614623657Z"></path></g><g class="slice"><path fill="#2196F3" d="M-100,-1.2246467991473532e-14A100,100 0 0,1 80.90169943749474,-58.778525229247315L40.45084971874737,-29.389262614623657A50,50 0 0,0 -50,-6.123233995736766e-15Z"></path></g></g></svg>
                      <div class="md-headline" style="padding-bottom: 16px">C</div>
                    </div>
                    <md-divider></md-divider>
                    <div class="skills" layout="column" layout-align="space-around center">
                      <div class="md-headline donutNum">8</div>
                      <svg class="donuts" width="200" height="100" viewBox="0, 0, 232, 116"><g transform="translate(116,116)"><g class="slice"><path fill="#FFC107" d="M80.90169943749474,-58.778525229247315A100,100 0 0,1 100,0L50,0A50,50 0 0,0 40.45084971874737,-29.389262614623657Z"></path></g><g class="slice"><path fill="#2196F3" d="M-100,-1.2246467991473532e-14A100,100 0 0,1 80.90169943749474,-58.778525229247315L40.45084971874737,-29.389262614623657A50,50 0 0,0 -50,-6.123233995736766e-15Z"></path></g></g></svg>
                      <div class="md-headline" style="padding-bottom: 16px">HTML/CSS</div>
                    </div>
                    <md-divider></md-divider>
                    <div class="skills" layout="column" layout-align="space-around center">
                      <div class="md-headline donutNum">7</div>
                      <svg class="donuts" width="200" height="100" viewBox="0, 0, 232, 116"><g transform="translate(116,116)"><g class="slice"><path fill="#FFC107" d="M58.778525229247315,-80.90169943749474A100,100 0 0,1 100,0L50,0A50,50 0 0,0 29.389262614623657,-40.45084971874737Z"></path></g><g class="slice"><path fill="#2196F3" d="M-100,-1.2246467991473532e-14A100,100 0 0,1 58.778525229247315,-80.90169943749474L29.389262614623657,-40.45084971874737A50,50 0 0,0 -50,-6.123233995736766e-15Z"></path></g></g></svg>
                      <div class="md-headline" style="padding-bottom: 16px">AngularJS</div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="footer-text" style="background-color: #607D8B; font-size: small">All artwork, photos, code, and documents available on this site are property of Jonathan Beckman. For permission to use materials found of this site please contact me via email. © 2015-2016 Jonathan Beckman, All rights reserved.</p>
            <p class="footer-text" style="background-color: #455A64; font-size: small">Powered by Angular Material. Code licensed under the MIT License. Icons proivided by FontAwesome and Google Material Design icon library.</p>
        </md-content>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
      
    <!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->

    <script src="js/aboutMe.js"></script>

  </body>
</html>
