<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="UTF-8">
    <title>Unibeck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <!-- Material Design icon font -->
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <!-- FontAwesome icon font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div ng-cloak ng-controller="AppCtrl" layout="row" layout-fill md-theme="home"><!--theme declaration-->
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-hue-2 drawer-header">
          <img ng-src="{{data.user.iconurl}}" class="profile-pic" alt="">
          <div class="email-container">
            <span class="md-body-1">{{data.user.email}}</span>
          </div>
        </md-toolbar>
        <md-toolbar role="navigation" flex>
            <md-list-item ng-repeat="item in menu" ng-click="doPrimaryAction($event)">
              <md-icon>{{item.icon}}</md-icon>
              <p class="md-body-2">{{item.title}}</p>
              <md-icon>chevron_right</md-icon>
            </md-list-item>
        </md-toolbar>
      </md-sidenav>
      <section layout="column" role="main" flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
              <md-icon>menu</md-icon>
            </md-button>
            <span id="headliner" class="mdl-layout-title">{{data.title}}</span>
            <span flex></span>
            <div class="mdl-layout-spacer"></div>
            
            <a href="#"><i class="fa fa-github-square fa-2x social-button"></i>
              <md-tooltip>
                rajonbeckman
              </md-tooltip>
            </a>
            <a href="#"><i class="fa fa-linkedin-square fa-2x social-button"></i>
              <md-tooltip>
                Jonathan Beckman
              </md-tooltip>
            </a>
            <a href="#"><i class="fa fa-google-plus-square fa-2x social-button"></i>
              <md-tooltip>
                rajonbeckman
              </md-tooltip>
            </a>
          </div>
        </md-toolbar>
        <div layout="column" flex class="content-wrapper">
          <md-content layout="column" flex> <!--Need for full height sidenav-->

            <!-- About Me -->
            <div class="aboutme-img" md-theme="aboutMe">
              <div class="wrap">
                <h4 class="aboutme-header md-display-2" layout="row" layout-align="center end">{{section.aboutme.title}}</h4>
                <md-toolbar class="section-block-aboutme md-warn md-hue-1">
                  <h1 class="section-text md-subhead">
                    {{section.aboutme.text}}
                  </h1>
                  <section layout="row" layout-align="center center">
                    <md-button md-no-ink style="color: yellow">Read More</md-button>
                  </section>
                </md-toolbar>
              </div>
            </div>
            <!-- End About Me -->
            
            <!-- Projects -->
            <div class="project-img wrap-projectimg" md-theme="projects">
              <div class="wrap-project">
                <h4 class="project-header md-display-2" layout="row" layout-align="center center">{{section.projects.title}}</h4>
                <md-content class="header-spacer"></md-content>

                <md-content class="md-padding transparent" layout-xs="column" layout="row">
                  <div ng-repeat="projectTile in projectTiles" flex-xs="" flex-gt-xs="33" layout="column">
                    <md-card>
                      <md-button class="projectCardButton">
                        <img ng-src="{{projectTile.img}}" class="md-card-image">
                      </md-button>
                      <md-card-footer>
                        {{projectTile.title}}
                      </md-card-footer>
                    </md-card>
                  </div>
                </md-content>
               
                <md-toolbar class="section-block-project md-warn md-hue-1">
                  <h1 class="section-text md-subhead">
                    {{section.projects.text}}
                  </h1>
                  <section layout="row" layout-align="center center">
                    <md-button md-no-ink style="color: yellow">Read More</md-button>
                  </section>
                </md-toolbar>
              </div>
            </div>
            <!-- End Projects -->

            <!-- Updates -->
            <div class="update-img" layout-wrap md-theme="updates">
              <div class="wrap-project" layout-wrap>
                <h4 class="updates-header md-display-2" layout="row" layout-align="center center">{{section.updates.title}}</h4>
                <md-content class="header-spacer"></md-content>

                <md-content class="md-padding transparent" layout-xs="column" layout="row">
                  <div ng-repeat="updateCard in updateCards" flex-xs="" flex-gt-xs="33" layout="column">
                    <md-card>
                      <md-card-header layout-wrap class="updateCardHeader">
                        <md-card-avatar class="updateCardIcon">
                          <md-icon>{{updateCard.icon}}</md-icon>
                        </md-card-avatar>
                        <md-card-header-text class="updateCardHeaderText">
                          <span class="md-title">{{updateCard.title}}</span>
                          <span class="md-subhead">{{updateCard.subTitle}}</span>
                        </md-card-header-text>
                        <md-card-actions class="updateCardButton" layout-align="end end">
                          <md-button>Read More</md-button>
                        </md-card-actions>
                      </md-card-header>
                    </md-card>
                  </div>
                </md-content>
               
                <md-toolbar class="section-block-project md-warn md-hue-1">
                  <h1 class="section-text md-subhead">
                    {{section.updates.text}}
                  </h1>
                  <section layout="row" layout-align="center center">
                    <md-button md-no-ink style="color: yellow">Learn More</md-button>
                  </section>
                </md-toolbar>
              </div>
            </div>
            <!-- End Updates -->

          </md-content>
        </div>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>

    <script src="js/index.js"></script>

  </body>
</html>
