@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);
  }

  &__home-button {
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    color: var(--v-color-primary-text);
    border: 1px solid var(--v-color-border);
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;

    &:hover,
    &:focus {
      color: var(--v-color-primary);
    }
  }

  &__theme-toggle {
    padding: 24px;
  }
}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__menu {
      position: fixed;
      margin: 0;
      top: 30px;
      left: 30px;

      display: block;
    }
    &__home-button {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
